<div class="main-menu w-100">
    <div class="container-fluid">
        <div class="row">
            <div class="form-group col-12 col-md-2">
                <label>Организация</label>
                <select type="text" [(ngModel)]="org_id" class="form-control form-control-sm" (change)="validate()">
                    <option selected disabled value="">Выберите организацию</option>
                    <option *ngFor="let org of organs" value="{{org.ORGANIZATION_ID}}">{{org.ORGANIZATION_NAME}}</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-2">
                <label>Начало периода</label>
                <input type="text" [(ngModel)]="start" class="form-control form-control-sm" (click)="toogleCalendar('start')">
                <div #startCal class="calendBlock d-none">
                    <div class="card-body">
                    <div class="w-100">
                            <button type="button" class="close pull-right mb-3">
                                <span class="closeBtn" aria-hidden="true" (click)="toogleCalendar('start')">&times; </span>
                            </button>
                        </div>
                        <ngb-datepicker #d
                                        [footerTemplate]="tstart"
                                        [(ngModel)]="modelStart"
                                        [startDate]="startCalDay"
                                        (navigate)="startCalDay = $event.next"></ngb-datepicker>
                    </div>
                </div>
            </div>
            <div class="form-group col-12 col-md-2">
                <label>Конец периода</label>
                <input type="text" [(ngModel)]="end" class="form-control form-control-sm" (click)="toogleCalendar('end')">
                <div #endCal class="calendBlock d-none">
                    <div class="card-body">
                    <div class="w-100">
                            <button type="button" class="close pull-right mb-3">
                                <span class="closeBtn" aria-hidden="true" (click)="toogleCalendar('end')">&times; </span>
                            </button>
                        </div>
                        <ngb-datepicker #d
                                        [footerTemplate]="tend"
                                        [(ngModel)]="modelEnd"
                                        [startDate]="endCalDay"
                                        (navigate)="endCalDay = $event.next"></ngb-datepicker>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <label class="col-12">&nbsp;</label>
                <button class="btn btn-sm btn-success" (click)="getDataTable()" #applyButton disabled>Показать</button>
            </div>
        </div>
        <div class="row">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Сводная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trud-tab" data-toggle="tab" href="#trud" role="tab" aria-controls="trud" aria-selected="false">Трудозатраты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="wo_count-tab" data-toggle="tab" href="#wo_count" role="tab" aria-controls="wo_count" aria-selected="false">ЗВР</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="w-100">
    <ng-template [ngIf]="!loading" [ngIfElse]="loader">
        <div class="tab-content">
            <div class="tab-pane active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <main-table [loading]="loadingMT" [totalData]="totalDataMT" [statuses]="statusesMT" [emptyData]="emptyDataMT"></main-table>
            </div>
            <div class="tab-pane" id="wo_count" role="tabpanel" aria-labelledby="wo_count-tab">
                <!-- <wo-table [loading]="loadingMT" [totalData]="totalDataMT" [statuses]="statusesMT" [emptyData]="emptyDataMT"></wo-table> -->
            </div>
            <div class="tab-pane" id="trud" role="tabpanel" aria-labelledby="trud-tab">
                <tz-table [loading]="loadingTW" [totalData]="totalDataTW" [statuses]="statusesTW" [emptyData]="emptyDataTW"></tz-table>
            </div>
        </div>
    </ng-template>
</div>

  <!-- 
  <div class="col-md-10 col-12 bigData">
        
  </div> -->

<ng-template #tstart>
    <div class="w-100 text-center mb-3 dpicker-footer">
        <div class="btn-group">
            <button (click)="setDate('start')" type="button" class="btn btn-success" title="Сохранить">
                <i class="fas fa-calendar-check"></i>
                <span class="d-none d-sm-inline"> Ok</span>
            </button>
            <button (click)="cancelDate('start')" type="button" class="btn btn-secondary" title="Отмена">
                <i class="fas fa-thumbs-down"></i>
                <span class="d-none d-sm-inline"> Отмена</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #tend>
    <div class="w-100 text-center mb-3 dpicker-footer">
        <div class="btn-group">
            <button (click)="setDate('end')" type="button" class="btn btn-success" title="Сохранить">
                <i class="fas fa-calendar-check"></i>
                <span class="d-none d-sm-inline"> Ok</span>
            </button>
            <button (click)="cancelDate('end')" type="button" class="btn btn-secondary" title="Отмена">
                <i class="fas fa-thumbs-down"></i>
                <span class="d-none d-sm-inline"> Отмена</span>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #loader>
    <div class="w-100">
        <div class="loader big-loader"></div>
    </div>
</ng-template>
