<ng-template [ngIf]="emptyData && !loading">
    <div class="row w-100 justify-content-center pt-5">
        <div class="col-8 col-md-5 text-center">
            <div class="alert alert-primary">
                <p class="h3"><i class="fas fa-exclamation-triangle"></i></p>
                <p class="h4">Пожалуйста, выберите организацию и корректный отчётный период</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template [ngIf]="!emptyData && !loading">
    <div class="">
        <h4>Трудозатраты. Заголовок таблицы. пока заготовка.</h4>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th rowspan="2">Наименование</th>
                    <ng-container *ngFor="let cell of statuses">
                        <th *ngFor="let item of cell | keyvalue" class="vertText" colspan="2"><span>{{(item.value=="NaN")?"":item.value}}</span></th>
                    </ng-container>
                </tr>
                <tr>
                        <ng-container *ngFor="let cell of statuses">
                            <ng-container *ngFor="let item of cell | keyvalue">
                                <th>Час.</th>
                                <th>Шт</th>
                            </ng-container>
                        </ng-container>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of totalData">
                <td>{{row.iheir}}</td>
                <ng-container *ngFor="let cell of row.wo_types | keyvalue">
                    <ng-container *ngFor="let item of cell.value | keyvalue">
                        <td class="{{item.value['class']}}">
                            {{(item.value['trud']=="0")?"":item.value['trud']}}
                        </td>
                        <td class="{{item.value['class']}} {{item.value['class']}}woccol ">{{(item.value['woc']=="0")?"":item.value['woc']}}</td>
                    </ng-container>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
</ng-template>
<ng-template [ngIf]="loading">
    <div class="w-100 row justify-content-center">
        <div class="loader big-loader"></div>
    </div>
</ng-template>
    