<ng-template [ngIf]="!emptyData && !loading && !showDetails">
    <div class="">
        <h4>Заголовок таблицы. пока заготовка</h4>
        <table class="table table-bordered ">
         <thead class="thead-dark">
             <tr>
                <th rowspan="2">Дата</th>
                <th rowspan="2">Статус</th>
                <th rowspan="2">Исполнитель</th>
                <th rowspan="2">Ресурс</th>
                <th colspan="2" *ngFor="let stat of statuses" class="text-center">{{(stat!=="NaN")?stat:""}}</th>
            </tr>
            <tr>
                <ng-container *ngFor="let stat of statuses">
                    <th>Труд</th>
                    <th>ЗВР</th>
                </ng-container>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let row of curData" class="{{row.rowClass}}">
                <td>{{row.date}}</td>
                <td>{{(row.status!=="NaN")?row.status:""}}</td>
                <td>{{(row.vendor!=="NaN")?row.vendor:""}}</td>
                <td>{{(row.dep!=="NaN")?row.dep:""}}</td>
                <ng-container *ngFor="let cell of row.work_types">
                    <td class="{{(cell.trud=='0')?'':'det'}}">{{(cell.trud=="0")?"":cell.trud}}</td>
                    <td class="{{(cell.wo_count=='0')?'':'det'}}" (click)="getDetails(cell.wo_count, row.org_id, row.date, row.vendor, row.dep, row.status)">{{(cell.wo_count=="0")?"":cell.wo_count}}</td>
                </ng-container>
            </tr>
         </tbody>
        </table>
    </div>
</ng-template>
<ng-template [ngIf]="emptyData && !loading && !showDetails">
    <div class="row justify-content-center pt-5">
        <div class="col-8 col-md-5 text-center">
            <div class="alert alert-danger">
                <p class="h3"><i class="fas fa-exclamation-triangle"></i></p>
                <p class="h4">Пожалуйста, выберите организацию и период</p>
            </div>
        </div>
    </div>
</ng-template>
<ng-template [ngIf]="loading && !showDetails">
    <div class="row justify-content-center">
        <div class="loader big-loader"></div>
    </div>
</ng-template>
<ng-template [ngIf]="showDetails">
    <details-block [request]="request" [list]="list" (onToggle)="toogleDetails()"></details-block>
</ng-template>